/* estilos.css */

:root{
	--negro: #27262b;
	--negroVerdadero: #000;
	--blanco: #FFF;
	--naranja: #f59a18;
	--naranjaDos: #fe6e0d;
	--amarillo: #ff9809;
	--grisClaro: #bfbfbf;
	--gris: #fofofo;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--negro);
	background-image: url("images/pattern.jpg");
	font-family: Arial, sans-serif;
}

h2{
	font-size: 20px;
	margin-bottom: 16px;
		
}

.categorias h2{
	padding-left: 24px;
}

.cabecera{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 16px;
	margin-bottom: 24px; 
	
}

h1{
	color: var(--naranja);
}

.contenedor{
	background-color: var(--blanco);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px 8px 0 0;
}


.botonera{
	background-color: var(--naranjaDos);
	padding-bottom: 20px;
	padding-top: 15px;
	padding-left: 15px;
	border-radius: 8px 8px 0 0;	
	
}

.botonera-lista_formulario{
	margin-left: 100px;
	margin-top: 3px;
}

.botonera-lista_formulario input{
	padding: 2px 4px;
	
}

.botonera-lista{	
	
	display: flex;	
	list-style: none;	
}

.botonera-lista li{
	flex-grow: 1;
}

.botonera a{	
	display: block;
	text-decoration: none;
	color: var(--blanco);
	border-right:1px solid var(--amarillo);
	padding: 6px 0;
	font-weight: bold;
	text-align: center;		
}

.botonera a:hover{
}

a.sin-borde {
	border-right: none;
}

.slider{
	text-align: center;
	margin-top: 30px;
}

.categorias{
	width: 20%;
	float: left;
	background-color: var(--blanco);
	margin-top: 50px;
			
}

.categorias-lista{
	list-style: none;	
	padding-left: 35px;	
}

.categorias-lista li{
	border-bottom: 1px dashed var(--grisClaro);
	padding-top: 6px;
	padding-bottom: 6px;
	
}

.categorias-lista a{
	text-decoration: none;
	color: black;

}

.categorias-lista a:hover{
	font-weight: bold;
}


.productos{
	width: 80%;
	float: right;
	
	margin-top: 50px;
	padding-right: 56px;
}

.newsletter{
	clear: both;
}

.lampara{
	
	width: 50%;
	float: left; 
	padding-left: 26px;
	padding-bottom: 32px;
		
}

.lampara img{
	float: left;	
}

.lampara p{
	width: 50%;
	float: right;	
}

.newsletter{
	clear: both;
	border-radius: 5px; 
		
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid var(--grisClaro);
	padding: 10px 24px;
	
	background-image: linear-gradient(white,gray);
	overflow: auto;
}

.newsletter img{
	float:left;
}

.newsletter-info{
	float: left;
	padding-left: 30px;
}

.newsletter-info p{
	padding-left: 50px;
}

.newsletter-form{
	float: right;
	margin-top: 10px;
		
}

.newsletter-form [type="submit"]{
	background: none;
	border: none;
	cursor: pointer;
	
	font-weight: bold;
	padding: 5px 8px;
		
}

.pie{
	background-color: var(--gris);
	padding: 6px 50px;
	border-top: 1px solid var(--negroVerdadero);
	margin-top: 30px;
	font-size: 14px;
	border: 1px solid var(--grisClaro);
	color: #6a6969;
}

.pie-copy{
	font-weight: normal;
}

.pie-copy, .pie-china, .pie-argentina{
	float: left;	
}

.pie-creditos{
	clear: both;
	text-align: right;	
}

.pie-creditos a{
	font-family: 'Courgette', sans-serif;
}

.pie-china{
	border-right: 2px solid var(--grisClaro);
	padding-right: 20px;
    padding-left: 20px;	
}

.pie-argentina{
	padding-left: 20px;
}
	







	
	
